<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>RESTful Creatures</title>
</head>
<body>
  <nav>
    <a href="/"> Home</a>
    <a href="/dinos">Dinosaurs</a>
    <a href="/dinos/new">Add a Dino!</a>
    <a href="/prehistoric_creatures">Prehistoric Creatures</a>
    <a href="/prehistoric_creatures/show">Show a Prehistoric Creature</a>
    <a href="/prehistoric_creatures/new">Add a Prehistoric Creature</a>
  </nav>
  <%- body %>
</body>
</html>
