<form method="POST" action="/prehistoric_creatures/<%= historicID %>?_method=PUT">
  Type: <input type="text" name="type" value="<%= historic.type %>">
  Img_URL: <input type="text" name="img_url" value="<%= historic.img_url %>">
  <input type="submit">
</form>