<h3>We're BACK! Prehistoric Creature Time!</h3>
<h4>we're extinct</h4>
<ul>
  <% historics.forEach( (historic, index) => { %>
  <li>
    <a href="/prehistoric_creatures/<%= index %>"><%= historic.type %></a>
  </br>
    <form method="POST" action="/prehistoric_creatures/<%= index %>?_method=DELETE">
      <input type="submit" value="Delete">
    </form>  
  </li>
  <% }) %>
</ul>