<h1> Better add to that creature list...</h1>
<form method="POST" action="/prehistoric_creatures">
  Type of Creature: <input type="text" name="type">
  Img URL: <input type="text" name="img_url">
  <input type="submit">
</form>