<h2> this is a <%= historic.type %> and it looks like looks like: </p>
</br>
  <img src="<%= historic.img_url %>">
</br>
  <a href="/prehistoric_creatures/<%= historicID %>/edit">Edit this Prehistoric Creature!</a>