<form method="POST" action="/dinos/<%= dinoID %>?_method=PUT">
  Name: <input type="text" name="name" value="<%= dino.name %>">
  Type: <input type="text" name="type" value="<%= dino.type %>">
  <input type="submit">
</form>