<h3>It's Dino Time!</h3>
<h4>Who's coming to the Dino Party?</h4>
<ul>
  <% dinos.forEach( (dino, index) => { %>
  <li>
    <a href="/dinos/<%= index %>"> <%= dino.name %></a>
  </li>
  <% }) %>
</ul>
